body {
    align-items: center;
}

div.container {
    display: flex;
}

div.child {
    flex: 1;
}

h1 {
    color: palevioletred;
}

/* setting color up down with red - green color*/
.up {
    color: green;
}

.down {
    color: red;
}

.no-bullet {
    list-style-type: none;
}